/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400&display=swap");
/* header */
.custom-header {
  background-color: #222222;
  height: 80px;
  align-items: center;
}
.logo img {
  width: 150px;
}
.logo {
  z-index: 2;
}
button {
  border: none;
  padding: 12px 17px;
}
.wallet-button {
  background: #501d83;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 10px 10px 0px;
  color: #fff;
  transition: 0.5s;
}
.wallet-button:hover {
  background: #370f5f;
  transition: 0.5s;
}
.wallet-balance {
  background: #434343;
  box-shadow: 0px 4px 4px rgba(64, 44, 53, 0.25), inset 0px 0px 3px #402c35;
  border-radius: 10px 0px 0px 10px;
  color: #fff;
}
/* navbar toggle button */
#nav-toggle {
  color: #fff;
  cursor: pointer;
}
.fa-bars {
  font-size: 30px;
  padding: 10px;
}
/* side nav  */
.side-nav {
  width: 20%;
  background-color: #222222;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 1s;
  left: -400px;
}
.side-nav ul {
  list-style: none;
  padding: 0;
  margin-top: 150px;
}
.side-nav ul li a {
  text-decoration: none;
  padding: 15px 30px;
  display: block;
  color: #fff;
}
.side-nav ul li a:hover {
  background-color: #535353;
}
.active {
  background-color: #535353;
  border-left: solid 4px #fff;
}
/* toggle classes js */
.sidenav-hide {
  left: 0 !important;
  transition: 1s;
}
.full-width-section {
  margin-left: 0 !important;
  transition: 1s;
}
body {
  background-color: #000;
}
/* swap section */
.swap-section {
  margin-left: 20%;
  transition: 1s;
}
label {
  font-family: roboto;
  font-size: 24px;
  font-weight: 700;
}
.balance {
  font-family: roboto;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.66);
}
.value-field {
  width: 100%;
  height: 47px;
  border-radius: 10px;
  background-color: #434343;
  color: #fff;
  font-family: roboto;
  font-weight: 700;
  border: none;
  outline: none;
  padding: 10px;
}
.max {
  height: 33px;
  padding: 0 10px;
  align-self: center;
  margin-left: 5px;
  border-radius: 5px;
  background-color: #434343;
  color: #fff;
}
.max:hover {
  color: #434343;
  background-color: #fff;
}
.btn-custom {
  background: #501d83;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
  color: #fff;
  transition: 0.5s;
  width: 100%;
}
.btn-custom:hover {
  background: #370f5f;
  transition: 0.5s;
}
.card-container {
  padding: 30px;
  background-color: #222;
  color: #fff;
  border-radius: 25px;
}
.swap-icon-btn {
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  padding: 10px;
  background-color: #501d83;
  transform: rotate(90deg);
}
.mt-85 {
  margin-top: 85px;
}
.dropdown-item{
  color: #fff !important
}
.dropdown-item:hover{
  background-color: #222 !important;
}
.dropdown img{
  width: 22px;
  height: 22px;
  margin-right:10px
}
.dropdown-menu{
  min-width: 100px !important;
  background-color: #434343 !important; 
}
.btn-custom-2{
  background: transparent;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #fff;
  transition: 0.5s;
  width: 100%;
  box-shadow: none;
}
.btn-custom-2:hover{
  color: #fff !important;
}
p {
  font-family: roboto;
}
h2 {
  font-family: roboto;
  font-weight: 700;
}
#coming-soon{
  margin-top:50px !important;
  width: 100%;
  height: 100%;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}
/* media queries */
/* Phone or any screen smaller than 600 */
@media only screen and (max-width: 600px) {
  .wallet-balance {
    display: none;
  }
  .wallet-button {
    border-radius: 10px;
  }
  .side-nav {
    width: 300px;
    z-index: 1;
    
  }
  .swap-section {
    margin: 0;
  }
}
/* desktop any screen larger than 600 */
@media only screen and (min-width: 600px) {
  .dc-none {
    display: none;
  }
  #nav-toggle {
    position: absolute;
    top: 18px;
    left: 200px;
    z-index: 2;
  }
}


/*Staking*/
.bold{
  font-weight: bold;
  padding: 5px 0px;
  font-size: 13px;
}

.staking-icon{
  margin-bottom: 20px;
  width: 45px;
  height: 47px;
}

.btn-custom-3 {
  background: #FFDC44;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
  color: #000;
  transition: 0.5s;
  width: 100%;
  font-weight: bold;
}
.btn-custom-3:hover {
  background: #b99a11;
  transition: 0.5s;
}
.btn-custom-4-r{
    border-radius: 0px 10px 10px 0px;
    background: #ffffffb0;
    border-left: solid 1px #222222;
    color: #000;
    font-weight: 600;
    width: 40%;
}
.btn-custom-4{
    border-radius:10px;
    background: #ffffffb0;
    color: #000;
    font-weight: 600;
    width: 100%;
}
.bc3-disabled{
  background-color: #433c00;
    color: #161616;
    padding: 10px 20px;
    border-radius: 0 10px 10px 0;
    width: 40%;
    height: 44px;
    cursor:not-allowed !important;
    pointer-events: none;
}
.bc-disabled{
  background-color: #1e0835;
    color: #333333;
    padding: 10px 20px;
    border-radius: 0 10px 10px 0;
    width: 40%;
    height: 44px;
    cursor:not-allowed !important;
    pointer-events: none;
}

.value-field-2 {
    width: 60%;
    height: auto;
    border-radius: 10px 0 0 10px;
    background-color: #434343;
    color: #fff;
    font-family: roboto;
    font-weight: 700;
    border: none;
    outline: none;
    padding: 10px;
}

/* modal customization */
.modal-content{
  background-color: #1a1a1a !important;
    border: solid 1px #2f2f2f !important;
  color: #fff !important;
}

.modal-header, .modal-footer{
  border: none !important;
}

.modal-header .close{
  color: #fff !important;
    font-size: 30px !important;
}

.bg-in{
  background-color: #2a2a2a !important;
  width: 100% !important;
  padding: 10px !important;
  margin: 10px 0 0 0 !important;
  border-radius: 10px;
  cursor: pointer;
}

.bg-in img{
  width: 30px;
  height: 30px;
  float: right;
}